{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>TheWatcher</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Главное</a></li>
        <li><a href="/contacts/">Контакты</a></li>
        <li><a href="/about/">О нас</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <h1>Contacts</h1>
<ul>
    {% for contact in contacts %}
        <li>{{ contact.phone }} - {{ contact.email }}</li>
    {% endfor %}
</ul>
  </div>
</body>
</html>